-r requirements.txt
pytest==3.4.0
mock==2.0.0
Flask==0.12.2
Flask-Bcrypt==0.7.1
Flask-Cache==0.13.1
freezegun==0.3.9
coverage==4.0.3
cryptography==2.3
pycodestyle==2.4.0
pytest-cov==2.5.1
python-coveralls==2.9.1
pytest-sugar==0.9.1
cffi==1.11.4
tox==2.9.1
responses==0.8.1
blinker==1.4
rollbar==0.13.17
pendulum==1.4.1